.dateDisplay {
  font-weight: 400;
  font-size: 28px;
  display: grid;
  grid-template-areas: "leftPad backInTime date forwardInTime rightPad";
  grid-template-columns: 1fr 100px minmax(425px, 0.2fr) 100px 1fr;
}

.reverseTime {
  grid-area: backInTime;
  display: flex;
}

.date {
  grid-area: date;
  align-self: center;
}

.forwardTime {
  grid-area: forwardInTime;
  display: flex;
}

.dateControlButton {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 625px) {
  .bigStepBackward {
    display: none;
  }
  .bigStepForward {
    display: none;
  }
  .dateDisplay {
    grid-template-columns: 1fr 30px minmax(400px, 0.2fr) 30px 1fr;
  }
}

@media screen and (max-width: 400px) {
  .bigStepBackward {
    display: none;
  }
  .bigStepForward {
    display: none;
  }
  .dateDisplay {
    font-size: 1em;
    grid-template-columns: 1fr 30px minmax(250px, 0.3fr) 30px 1fr;
  }
  .dateControlButton {
    /* margin: 0px; */
  }
}
