.container {
  display: grid;
  grid-template-columns: 1fr minmax(280px, 0.65fr) 1fr;
  grid-template-areas: "leftPad taskList rightPad";
}

.taskList {
  grid-area: taskList;
  max-height: 65vh;
  overflow: scroll;
}
